.header {
  background-color: #000;
}
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  padding: 0 50px;
}
.navbar-item {
  color: white !important;
}
.content {
  margin-top: 50px;
  padding: 0 50px;
}
